h1{
  font-weight: bold;
}
.sidebar{
  width: 200px;
  height:100%;
  margin-left: 0;
  float:left;
  position:fixed;
  border: solid black;
  border-width: 3px;
  background-color: darkslategray;
  overflow-x: hidden;
  color:antiquewhite;
  box-sizing: border-box;
}

.main{
  float:left;
  margin-left: 200px;
  width:70%;
  border-width: 3px;
  box-sizing: border-box;
  margin-right: 1%;
}
.headerhome {
  text-align: center;
}

.about-me-title{
  font-size: larger;
  font-family: Franklin Gothic Medium;
  font-weight: bold;
  text-decoration: underline;
}
.about-me {
  border: 2px solid black;
  padding: 10px;
  margin: 2px;
  background-color: rgba(144, 238, 144, 0.705);
  opacity: 70%;
  text-align: center;
}

.hobbies-header{
  font-size: larger;
  font-family: franklin gothic medium;
  font-weight: bold;
  text-decoration: underline;
  

}
.Hobbies {
  border: 2px solid black;
  padding: 10px;
  margin: 2px;
  background-color: lightblue;
  opacity: 70%;
  text-align: center;
}

.highlight {
  font-style: italic;
}

body{
  background-color: gray;
}

